/**
 * Snippet from #css-snippets applied the Nov 12, 2021 at 11:22:53 AM
 * Created by mr_miner#9699 (678541597654253600)
 * Snippet ID: 870552834410680370
 */
#message-actions-pin, #message-pin, #message-unpin{
    color: skyblue;
}
#message-actions-pin:hover, #message-pin:hover, #message-unpin:hover {
    background-color: #67a7c0;
    color: #fff;
}
#message-actions-reply, #message-reply {
    color: khaki;
}
#message-actions-reply:hover, #message-reply:hover {
    background-color: #c5bb5d;
    color: #fff;
}
#message-actions-thread, #message-thread {
    color: #69c069;
}
#message-actions-thread:hover, #message-thread:hover {
    background-color: #5dbd5d;
    color: #fff;
}
#message-actions-mark-unread, #message-mark-unread {
    color: plum;
}
#message-actions-mark-unread:hover, #message-mark-unread:hover {
    background-color: #c27ec2;
    color: #fff;
}
#message-actions-copy-link, #message-copy-link {
    color: lightseagreen;
}
#message-actions-copy-link:hover, #message-copy-link:hover {
    background-color: #199c96;
    color: #fff;
}
#message-actions-tts, #message-tts{
    color: var(--brand-experiment);
}
#message-actions-tts:hover, #message-tts:hover{
    background-color: var(--brand-experiment);
    color: #fff;
}
#message-actions-copy-id, #message-devmode-copy-id {
    color: lightsalmon;
}
#message-actions-copy-id:hover #message-devmode-copy-id:hover{
    background-color: lightsalmon;
    color: #fff;
}
#message-edit, #message-actions-edit{
    color: steelblue;
}
#message-edit:hover,  #message-actions-edit:hover{
    background-color: steelblue;
    color: #fff;
}
#message-add-reaction{
    color: goldenrod;
}
#message-add-reaction:hover{
    background-color: goldenrod;
    color: #fff;
}
/** 870552834410680370 */

/**
 * Snippet from #css-snippets applied the Nov 12, 2021 at 11:23:11 AM
 * Created by Hekky#6869 (346338830011596800)
 * Snippet ID: 870054555025543219
 */
:root {
    --sidebar-width: 240px; /* change if your theme resizes the sidebar */
}
.chat-3bRxxu.threadSidebarOpen-vdkwIh {
    resize: horizontal;
    min-width: 400px;
    max-width: calc(100vw - var(--sidebar-width) - 72px - 400px);
}
.chat-3bRxxu:not(.threadSidebarOpen-vdkwIh) {
    width: unset !important;
    flex: 1 1 auto;
}
.threadSidebar-1o3BTy {
    width: unset;
    flex: 1 1 auto;
}
/** 870054555025543219 */





/**
 * Snippet from #css-snippets applied the Nov 12, 2021 at 11:24:53 AM
 * Created by mr_miner#9699 (678541597654253600)
 * Snippet ID: 864076332505497641
 */
.container-3auIfb[style*="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"]{
  background-color: #c13a3a !important;
 fill: #c13a3a !important;
}
.container-3auIfb[style*="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"] path{
  fill: #c13a3a !important;
}
/** 864076332505497641 */







/**
 * Snippet from #css-snippets applied the Dec 22, 2021 at 2:53:56 PM
 * Created by Freeplay#5676 (158296466119458816)
 * Snippet ID: 921928336802971699
 */
/* Horizontally listed media */
[id*="message-accessories-"] {
    display: flex;
    flex-wrap: wrap;
}
[id*="message-accessories-"] > * {
    margin-right: .4em !important;
    min-height: 100% !important;
}
[id*="message-accessories-"] > div > a {
    display: flex;
    align-items: center;
    min-height: 100%;
    background-color: var(--background-secondary);
}
[id*="message-reactions"] {
    width: 100%;
}
/** 921928336802971699 */

/**
 * Snippet from #css-snippets applied the Jan 9, 2022 at 12:34:26 AM
 * Created by ThatOtherAndrew#8134 (650459420635168769)
 * Snippet ID: 929440925791449148
 */
[title^="https://discord.com/channels/"], [title^="https://ptb.discord.com/channels/"], [title^="https://canary.discord.com/channels/"] {
  line-height: 0;
  font-size: 0;
  text-decoration-color: #fff !important;
}
[title^="https://discord.com/channels/"]::before, [title^="https://ptb.discord.com/channels/"]::before, [title^="https://canary.discord.com/channels/"]::before {
  content: "✉ Jump to Message";
  font-size: 16px;
  user-select: text;
  font-weight: 500;
  transition: background-color 50ms ease-out, color 50ms ease-out;
  cursor: pointer;
  border-radius: 3px;
  padding: 0 2px;
  background: hsla(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%, 0.3);
  color: hsl(236, calc(var(--saturation-factor, 1) * 83.3%), 92.9%);
}
[title^="https://discord.com/channels/"]:hover::before, [title^="https://ptb.discord.com/channels/"]:hover::before, [title^="https://canary.discord.com/channels/"]:hover::before {
  background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
  color: #fff;
}
/** 929440925791449148 */

/**
 * Snippet from #css-snippets applied the Jan 9, 2022 at 12:34:48 AM
 * Created by george.#0550 (590224302578860065)
 * Snippet ID: 929485841229815859
 */
.wrapper-28eC3z svg {
    overflow: hidden;
}
/** 929485841229815859 */

/**
 * Snippet from #css-snippets applied the Jan 16, 2022 at 12:09:04 AM
 * Created by 5h3i1ah#6253 (268947234861744130)
 * Snippet ID: 931904851586195476
 */
.pronoundb-pronouns {
    font-size: 0.75rem !important;
    height: 1.25rem;
    cursor: default;
    font-weight: 500;
}
/** 931904851586195476 */

/**
 * Snippet from #css-snippets applied the 7 Mar 2022 at 22:05:26
 * Created by katlyn#9607 (250322741406859265)
 * Snippet ID: 949006652944834560
 */
.clamped-2ZePhX {
  -webkit-line-clamp: unset;
}
/** 949006652944834560 */

/**
 * Snippet from #css-snippets applied the 11 Mar 2022 at 15:48:07
 * Created by Davri#0015 (457579346282938368)
 * Snippet ID: 951894639596666940
 */
.modal-3Crloo .wrapper-2bCXfR {
    opacity: 0;
    animation: mediapopup 190ms ease-out forwards;
    animation-delay: 80ms;
}
@keyframes mediapopup {
    0% {
        transform: scale(0.65);
    }
    70% {
        opacity: 1;
        transform: scale(1.012);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/** 951894639596666940 */